.contents {
  width: 100%;
  // height: 80px;
  // padding: 20px 0 10px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-size: 15px;
}
.filter{
  // width: 140px;
  // height: 40px;
  text-align: center;
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
  color: #555;
  vertical-align: top;
  line-height: 40px;
  a:hover{
    background: black;
  }
}
.hidder {
  visibility: hidden;
}

.pic {
  height: 415px;
  width: 310px;
  z-index: -1;
}

.overall {
  display: inline;
  display: flex;
  margin: 20px 230px  5px 230px;
  flex-direction: row;
  justify-content: space-between;
}
.text {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 20;
  text-align: center;
  color: white;
  z-index: 3;
  font-size: 40px;
  font-weight: bold;
}
.list {
  position: absolute;
  width: 100px;
  height: 30px;
  bottom: 25px;
  left: 50%;
  margin-left: -50px;
  font-size: 15px;
  color: #FFF;
  line-height: 30px;
  text-align: center;
  z-index: 3;
  background:rgba(0, 0, 0, 0.4);
}
