.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #030507;
  padding-left: 10px;
}

.logo {
  height: 64px;
  width: 130px;
  position: relative;
  line-height: 64px;
  transition: all .3s;
  background: #030507;
  overflow: hidden;
  border-bottom-color: gray;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    width: 45px;
    margin: 0px 0px 3px 0px; 
  }
  h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 10px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
}

.search {
  display: flex;
  background-color: rgb(14, 13, 13);
  color: rgb(22, 22, 21);
  margin-left: 5px;
}

.same {
  height: 60px;
  width: 120px;

  h2{
    color: silver;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    padding: 0px 0px 0px 15px;
    font-weight: 500;
  }
}

.pic {
  display: flex;
  img{
    position: relative;
    z-index: -1;
  }
}
