.layout {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  float: left;
  margin: 0 auto;
  margin: 0px 5px 0px 5px;
  font-size: 16px;
}
.h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-left: 15px;
  font-size: 16px;
}